@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global styles*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  color: #0f172a;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove button outline */
button {
  outline: none;
}